// General Colors
$bg-color: #000514;
$text-color: #ffffff;
$accent-color: #1e2027;
$accent-color-light: #333743;
$emergency-color: #920000;
$navbar-footer-color: #1E2027;
$footer-button-color: #282A33;

// Vital Colors
$hr-color: #01d502;
$spo2-color: #2bddff;
$abp-color: #fd4c32;
$rr-color: #fff162;

// Grid
$cols: 8;
$rows: 4;
