@import "_variables.scss";

body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  color: $text-color;
  font-size: 0.7rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor:pointer;
  user-select: none;
}

/* ##### WRAPPER ##### */
.wrapper {
  margin: 1rem;
}

/* ###### NAVBAR ###### */
.navbar {
  display: inline-flex;
  width: 100%;
  height: 6vh;

  &__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__preset {
      background-color: $navbar-footer-color;
      width: 12vw;
      min-width: 120px;
      margin-right: 1rem;
      border-radius: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 1rem;

        .preset-slider {
          width: 100%;
          display: flex;
          justify-content: space-between;
          .arrow-left {
          }

          .preset-name {
          }

          .arrow-right {
          }
        }
      }
    }

    &__main {
      display: flex;
      justify-content: space-between;
      width: 95%;
      background-color: $navbar-footer-color;
      border-radius: 40px;
      padding: 1rem;
      align-items: center;

      &__left {
        display: flex;
        width: 30%;
        justify-content: space-between;

      }
      &__center {
        display: flex;
        width: 30%;
        justify-content: center;
        align-items: center;

        .emergency-btn {
          border: 1px solid $text-color;

          padding: 0.5rem 1.5rem 0.5rem 1.5rem;
          border-radius: 50px;
        }
      }
      &__right {
        height: 100%;
        display: flex;
        width: 30%;
        justify-content: space-between;
        align-items: center;

        .date {
        }

      }
    }
    &__log {
      background-color: $navbar-footer-color;
      width: 8vw;
      min-width: 100px;
      margin-left: 1rem;
      border-radius: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      &__container {
        display: flex;
        justify-content: center;
        align-items: center;

        .log-icon {
          width: 30px;
          height: 30px;
          border: 2px solid $text-color;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0.7rem;
          font-weight: bold;
          margin-right: 1rem;
        }

        .log-badge {
          height: 30px;
          width: 30px;
          background-color: red;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0.7rem;
          font-weight: bold;
        }
      }
    }
  }
}

/* ###### FOOTER ###### */
.footer {
  display: inline-flex;
  width: 100%;
  height: 6vh;
  font-size: 0.7rem;
  white-space: nowrap;

    .footer-btn {
        background-color: $footer-button-color;

        // padding: 0.5rem 1.5rem 0.5rem 1.5rem;
        padding: 0.75rem 1rem 0.75rem 1rem;
        border-radius: 50px;
    }

  &__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;


    &__main {
      display: flex;
      justify-content: space-between;
      width: 100%;
      background-color: $navbar-footer-color;
      border-radius: 40px;
      padding: 1rem;
      align-items: center;

      &__left {
        display: flex;
        width: 25%;
        justify-content: flex-start;
        gap: 0.5rem;
      }
      &__center {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
      }
      &__right {
        height: 100%;
        display: flex;
        width: 25%;
        justify-content: flex-end;
        align-items: center;
        gap: 0.5rem;

      }
    }
  }
}

.navbar.emergency .navbar__inner__preset,
.navbar.emergency .navbar__inner__main,
.navbar.emergency .navbar__inner__log {
  background-color: $emergency-color;
}

.navbar.emergency .emergency-btn {
  background-color: $emergency-color;
  border: 1px solid $text-color;
}

/* ###### MAIN ###### */
// Grid Class is applied!
.main {
  margin: 1vh 0 1vh 0;
  width: calc(100vw - 2rem);
  height: calc(100vh - 12vh - 2rem);
}

