@import "_variables.scss";

body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  color: $text-color;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ##### WRAPPER ##### */
.wrapper {
  margin: 1rem;
  display: flex;
}

/* ###### NAVBAR ###### */
.navbar {
  display: inline-flex;
  width: 100%;
  height: 6vh;

  &__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__main {
      display: flex;
      justify-content: space-between;
      width: 95%;
      background-color: $emergency-color;
      border-radius: 40px;
      padding: 1rem;
      align-items: center;

      &__left {
        display: flex;
        width: 30%;
        justify-content: space-between;

        .name {
        }

        .birthdate {
        }

        .gender {
        }
      }
      &__center {
        display: flex;
        width: 30%;
        justify-content: space-between;
        align-items: center;
        .emergency-btn {
          border: 1px solid $text-color;

          padding: 0.5rem 1.5rem 0.5rem 1.5rem;
          border-radius: 50px;
        }
      }
      &__right {
        height: 100%;
        display: flex;
        width: 30%;
        justify-content: space-between;
        align-items: center;

        .date {
        }

        .time {
        }
      }
    }
    &__log {
      .log-icon {
      }

      .log-badge {
      }
    }
  }
}
